/* Login container */
.userDetails-container {
    background-color: #fff;
    padding: 2rem;
    border-radius: px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1500px;
    margin: 2rem auto;
    text-align: center;
    /* display: flex;  */
    /* gap: 10px; Space between buttons  */
  }
  
  /* Login form heading */
  .userDetails-container h2 {
    text-align: left;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Form group styling */
  .form-group {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .form-group input:focus {
    border-color: #00ffdd;
    outline: none;
  }
  
  /*  button styling */
  .button-container {
    /* width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;  */
    display: flex;
    gap: 10px;
    padding-right: 10px;
    /* margin-right: 10px;
    margin-left: 10px; */
    justify-content: space-between
 }
  
  ::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }

  /* If you are using a sorted header you need to provide */

  /* table {
      width: 100%;
      text-align: center !important;
  }
  
  .mat-cell{
      justify-content: center;
  }
  
  .mat-header-cell {
      text-align: center !important;
  }
   
  .centre {
    text-align: center
  } */
  /* .form-group input.required:not(:empty):after,
  .field-header.required:after {
    content: " *";
    color: red;
    position: absolute;
    right: 0px;
    top: -15px;
  } */
  .required {
    color: red;
  }
  
  .error {
    color: red;
    font-size: 0.8em;
  }
  
  .userDetails-button:hover {
    background-color: #0056b3;
  }
  
  /* userDetails link styling */
  .userDetails-link {
    margin-top: 1rem;
    color: #666;
  }
  
  .userDetails-link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .userDetails-link a:hover {
    text-decoration: underline;
  }